body {
    padding: 5px;
    font-family: 'Comfortaa', Monospace, serif;
    font-size: 22px;
    color: #233030;
    background-color: #ffe5b4;
}

select {
    padding: 5px;
    font-size: 22px;
    font-family: 'Comfortaa', Monospace, serif;
}

button {
    text-transform: lowercase;
    font-weight: bold;
    width: 15em;
    background-color: #e6b192;
    color: #233030;
    padding: 30px;
    font-size: 30px;
    font-family: 'Comfortaa', Monospace, serif;
    border-radius: 14px;
    padding: 15px;
}

h1 {
    background-color: #e6b192;
    font-family: 'Comfortaa', Monospace, serif;
    font-size: 70px;
    text-align: center;
    border: 3px;
    border-style: solid;
    border-color: black;
    border-radius: 15px;
    padding: .5em;
    text-transform: lowercase;
}

h2 {
    font-family: 'Comfortaa', Monospace, serif;
    font-size: 90px;
    text-transform: lowercase;
}

hr {
    height: 2px;
    border-width: 0;
    color: #233030;
    background-color: #233030;
    margin: 1em;
}

.navbar {
    overflow: hidden;
    padding: 20px;
    text-align: right;
}

.navbar li {
    background: white;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid #233030
}

.navbar a {
    font-weight: bold;
    text-transform: lowercase;
    float: right;
    color: #233030;
    background-color: #e6b192;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 17px;
    border: 3px;
    border-style: solid;
    border-color: #233030;
    border-radius: 15px;
    margin-left: 10px;
}

a:link {
    color: #233030
}

a:visited {
    color: #233030
}

input {
    width: 95%;
    border: 3px solid #233030;
    border-radius: 4px;
    padding: 10px 10px;
    margin: 20px 20px;
    font-family: 'Comfortaa', Monospace, serif;
    font-size: 22px;
}

img.profile {
    width: 100px;
    height: auto;
    border-radius: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #ffe5b4;
    padding: 10px;
}

.grid-item {
    background-color: #dbc067;
    border: 30px solid #ffe5b4;
    border-radius: 50px;
    padding: 10px;
    font-size: 22px;
    text-align: center;
}

footer {
    text-align: justify;
    padding-top: 10em;
}

img.pierot {
    position: fixed;
    bottom: 0px;
    left: 80%;
    width: 150px;
    height: auto;
    float: right;
}

div.has-text-centered {
    text-align: center;
}