body {
    padding: 5px;
    font-family: 'Comfortaa', Monospace, serif;
    font-size: 22px;
    color: #233030;
    background-color: #ffe5b4;
}

select {
    padding: 5px;
    font-size: 22px;
    font-family: 'Comfortaa', Monospace, serif;
}

button {
    background-color: #e6b192;
    color: #233030;
    padding: 5px;
    font-size: 22px;
    font-family: 'Comfortaa', Monospace, serif;
    border-radius: 14px;
    padding: 15px;
}

h1 {
    font-family: 'Comfortaa', Monospace, serif;
    font-size: 16px;
}

h2 {
    font-family: 'Comfortaa', Monospace, serif;
    font-size: 70px;
}

hr {
    height: 2px;
    border-width: 0;
    color: #233030;
    background-color: #233030;
    margin: 1em;
}

.navbar {
    overflow: hidden;
    padding: 20px;
    text-align: right;
}

.navbar li {
    background: white;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid #233030
}

.navbar a {
    font-weight: bold;
    text-transform: lowercase;
    float: right;
    color: #233030;
    background-color: #e6b192;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 17px;
    border: 3px;
    border-style: solid;
    border-color: #233030;
    border-radius: 15px;
    margin-left: 10px;
}

a:link {
    color: #233030
}

a:visited {
    color: #233030
}

figure {
    display: inline-block;
}

figcaption {
    display: inline-block;
}

.container {
    margin: 20px auto;
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.box {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-family: sans-serif;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

input {
    border: 2px solid #233030;
    border-radius: 4px;
    padding: 8px 20px;
    margin: 8px 0;
    font-family: 'Comfortaa', Monospace, serif;
    font-size: 22px;
}

div.container {
    padding: 3em;
}